.App {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
.header {
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.container {
    height: 111px;
    width: 580px;
    border-bottom: solid 1px #d8d8d8;

    margin: 0 auto 40px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container span:first-child {
    margin-right: 28px;
    font-weight: bold;
}
.container img {
    margin-right: 11px;
}
.description {
    height: 90px;
}
.description h3 {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 10px;
}
.description p {
    margin-top: 0;
    margin-bottom: 4px;
}

.description div {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}
.description div span:not(:first-child) {
    color: #ff024b;
}
